body, html {
  height: 200%;
  margin: 5px 5px;
  padding: 20px;
}

.background-container {
  background-image: url('/images/signup.png');
  background-color: #FFFFFF; 
  background-position: center;
  height: 90vh; 
  position: relative; 
  background-repeat: no-repeat;
  border-radius: 10px;
}

.welcome-text {
  position: absolute;
  top: 5%;
  left: 25%;
  color: blue;
  z-index: 1;
  max-width: 200%;
  max-height: 200%;
}

.rectangle {
  background-color: rgba(249, 215, 165, 0.5);
  border-radius: 12px; 
  padding: 3%;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  max-width: 80%;
  left: 55%;
  top: 20%;
  position: absolute;
  z-index: 2;
}

.logo img {
  max-width: 100%; 
  margin-bottom: 2%;
  margin-left: 5%;
}

.icon {
  width: 20px;
  margin-right: 1%;
  vertical-align: middle;
}

.input-container {
  margin-bottom: 4%; 
  display: flex; 
  align-items: center; 
}

.signin {
  background-color: #FF6525;
}

.sign-in-text {
  color: blue; 
  margin-left: 5%;
  z-index: 1;
}

@media (max-width: 768px) {
  .rectangle {
    left: 50%;
    transform: translateX(-50%);
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  .welcome-text {
    font-size: 18px;
  }
}
